*.csv
*.RData
*.duckdb*
*.feather
*.Rhistory
.Rproj.user
*.tmp
*_cache/
*_files/
*.rmarkdown
*.parquet
/.quarto/
_freeze/
data/parquets/
notebooks/duckdb
*.log
*.png
*.db
data/
presentations/*.pdf
_manuscript/
_targets/
comments/
.vscode
*.pdf
*duckdb*
site_libs/
Rodrigo/
*.sas
*.docx